<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <my-app>Loading...</my-app>

    <script type="text/javascript" src="/js/bin/app.js"></script>
  </body>
</html>
